/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    padding: 0px 10px;
    color: #282828;
}

.highlight-product{
    -webkit-box-shadow: 10px 10px 18px #cccccc;
    -moz-box-shadow: 10px 10px 18px #cccccc;
    border: #efefef 2px solid;
    box-shadow: 10px 10px 18px #cccccc;
    transform: scale(1.05);
}

.disable-out-of-stock-product{
    background-color: #28282B;
    opacity: 0.5;
}